img{
    max-width: 100%;
    height: auto;
    background: rgb(166,180,58);
background: radial-gradient(circle, rgba(166,180,58,1) 16%, rgba(223,253,29,1) 48%, rgba(252,176,69,1) 79%);    
}

.fa-star, .fa-star-o {
    color: #FFD700;
    padding: 5% 0%;
}